<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agência de Detetives</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <nav>
    <a href="{{url_for('home')}}">Home</a>
    <a href="{{url_for('casos')}}">Casos</a>
    <a href="{{url_for('contato')}}">Contato</a>
  </nav>
  <header>
    <h1>Invasão do X</h1>
  </header>
  <main>
    <section id="suspeitos">
      <h2>Suspeitos</h2>
      <p style="padding-bottom: 5px;" class="pcasos">Arquivos encontrados sobre cada suspeito</p>
      <div class="cards">
      <div class="card">
          <img src="/static/zweiterpixel.png" alt="Caso 2">
          <a href="{{ url_for('suspeito_caso_hack', susp='zweiter')}}" style="text-decoration: none; color: inherit;">
          <div class="card-content">
            <h3>Hans Zweiter</h3>
            <p>Habilidoso com ataques de baixo nível e hardware. Ativista anarquista. Contra o controle da liberdade de expressão</p>
            <!-- O que significa esse sobrenome? -->
          </div>
          </a>
        </div>
      
        <div class="card">
          <img src="/static/terceiropixel.png" alt="Caso 0">
            <a href="{{ url_for('suspeito_caso_hack', susp='terceiro')}}" style="text-decoration: none; color: inherit;">
            <div class="card-content">
              <h3>Miguel Terceiro</h3>
              <p>Motivado pelo alto potencial financeiro. Proficiente em redes e banco de dados</p>
            </div>
            </a>
        </div>
        <div class="card">
          <img src="/static/primuspixel.png" alt="Caso 1">
          <a href="{{ url_for('suspeito_caso_hack', susp='primus')}}" style="text-decoration: none; color: inherit;">
          <div class="card-content">
            <h3>Natália Primus</h3>
            <p>Especialista em Social Engineering. Desacordo ideiológico com a diretoria do X</p>
          </div>
        </div>
      </div>
    </section>
    <!-- <div style="height: 60px;"></div> -->
  </main>
</body>
</html>
