<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suspeito</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_file_listings.css') }}">
</head>
<body>
    <h1 class="file_h1">Listagem dos arquivos de {{ id }}</h1>
    <ul class="file_list" style="list-style-type: disc;color: black;">
        {% for f in files %}

            <li class="li_files">
                {% if f.endswith('.html') %}
                    <a class="file_link" href="/casos/hack_x/{{ id }}/{{ f }}" download>{{ f }}</a>
                {% else %}
                    <a class="file_link" href="/casos/hack_x/{{ id }}/{{ f }}">{{ f }}</a>
                {% endif %}
            </li>

        {% endfor %}
    </ul>
    <audio id="audio" class="audio">
    <source src="/static/sound.mp3" type="audio/mpeg">
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var audio = document.querySelector("audio");
        audio.autoplay = true;
        audio.style.display = "none";
        audio.loop = true;
        var hasPlayed = false;
        var savedTime = localStorage.getItem('audioTime');
        if (savedTime) {
          audio.currentTime = parseFloat(savedTime);
        }
        document.body.addEventListener("click", function() {
          if (!hasPlayed) {
            audio.play();
            hasPlayed = true;
          }
        });
        window.addEventListener('beforeunload', function () {
          localStorage.setItem('audioTime', audio.currentTime);
        });
        audio.addEventListener('ended', function() {
          audio.currentTime = 0;
          audio.play();
        });
      });
    </script>
  </audio>
</body>
</html>